<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We'll right here!!!</h1>
        <p>
            this site is currently being updated....
        </p>

            </body>
</html>